.search-bar-area {
    display: flex;
    height: 15vh;
    width: 95%;
    align-items: center;
    flex-direction: column;
    grid-row: 1 / 1;
}

.search {
    width: 90%;
    margin-top: 75px;
    margin-left: auto;
}

ul li {
    font-size: 20px;
}