.team-button-wrapper button{
    display: block;
    width: 30%;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0);
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
    background-size: 100% 100%;
}

.team-button-wrapper button:hover,
.loadBtn-disabled,
.saveBtn-add-disabled,
.saveBtn-update-disabled {
    opacity: 0.5;
}

.loadBtn:active,
.saveBtn-add:active,
.saveBtn-update:active{
    opacity: 1;
}

.loadBtn,
.loadBtn-disabled {
    background-image: url("../src/assets/download.png");
}

.saveBtn-add,
.saveBtn-add-disabled {
    background-image: url("../src/assets/save_add.png");
}

.saveBtn-update,
.saveBtn-update-disabled {
    background-image: url("../src/assets/save_update.png");
}

.role,
.role-disabled{
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    position: absolute;
    mask-image: url("../src/assets/teamcomp_bg.png");
    mask-position: center;
    mask-repeat: no-repeat;
}

.role-disabled{
    pointer-events: none;
}

.role:hover {
    filter: brightness(250%);
}

.role:active{
    filter: brightness(80%);
}

.team-role-select {
    position: relative;
    margin: 5px;
    grid-row: 1 / span 3;
}

.select-frame {
    position: absolute;
    pointer-events: none;
}

.team-role-select img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
}