.loadBtn,
.saveBtn,
.loadBtn-disabled,
.saveBtn-disabled {
    display: block;
    width: 30%;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0);
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
}

.loadBtn:hover,
.saveBtn:hover,
.loadBtn-disabled,
.saveBtn-disabled {
    opacity: 0.5;
}

.loadBtn:active,
.saveBtn:active {
    opacity: 1;
}

.loadBtn,
.loadBtn-disabled {
    background-image: url("..\src\assets\download.png");
    background-size: 100% 100%;
}

.saveBtn,
.saveBtn-disabled {
    background-image: url("..\src\assets\save.png");
    background-size: 100% 100%;
}

.role,
.role-disabled{
    width: 100%;
    height: 100%;
    position: absolute;
    mask-image: url("..\src\assets\teamcomp_bg.png");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
}

.role-disabled{
    pointer-events: none;
}

.role:hover {
    filter: brightness(250%);
}

.role:active{
    filter: brightness(80%);
}

.team-role-select {
    position: relative;
    margin: 10px;
    grid-row: 1 / span 2;
}

.select-frame {
    position: absolute;
    pointer-events: none;
}

.team-role-select img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
}