.login-view-container {
    width: 88%;
    min-width: 200px;
    margin: auto;
    grid-column: 1 / span 2;
}

.login-button {
    margin: 75px 25px auto 5px;
    width: 15%;
    grid-row: 1 / 1;
}

form {
    margin: 10px;
}

.view-name{
    color: white;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.view-container {
    padding: 5%;
    border-radius: 10px;
}

.view-container label {
    font-size: medium;
    margin: 10px;
    color: white;
}

.view-container input {
    margin: 10px;
}

.view-container button {
    margin: 10px;
}

.form-control {
    border: 1px solid rgb(201, 201, 201);
}

.error-control {
    border: 1px solid red;
}

@media (max-width: 980px) {
    .login-button{
        margin-top: 10px;
    }
}